.catalog {
    &__switcher {
        position: absolute;
        top: 120px;
        right: 80px;
        transition: transform 0.5s ease-out;
        svg {
            width: 24px;
            height: 24px;
            fill: #49beb7;
            cursor: pointer;
        }
    }

    &__switcher:hover {
        transform: scale(1.1);
    }
}
