.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    position: relative;
    width: 400px;
    height: auto;
    padding: 40px 20px;
    border: none;
    border-radius: 10px;
    font-family: Overpass;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffff;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        svg {
            fill: #49beb7;
        }
    }

    &__header {
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
    }

    &__header.modal-checkout {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
    }

    &__body {
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
    }

    &__body.modal-checkout {
        margin-bottom: 0;
    }

    .body-price {
        font-size: 18px;
        font-weight: 700; 
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}
