.checkout {
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    border-radius: 16px;
    font-family: Overpass;
    font-size: 22px;
    font-weight: 700;
    background-color: #E0FFFF;
    box-shadow: 0 0 6px #E0FFFF;

    &__sum {
        margin-right: 50px;
    }
}