.favorites {
    .catalog__switcher {
        top: 100px;
        right: 50px;
    }

    .product-card.item {
        .product-card__link {
            .product-card__image {
                width: 20%;    
            }
        }
    }
}